{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic",
        "importSource": "@emotion/react"
      }
    ]
  ],
  "plugins": [
    "@emotion/babel-plugin",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@generated": "./src/__generated__"
        }
      }
    ]
  ]
}
